/* Add Font */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
/* Add Style highcharts */
@import url("https://code.highcharts.com/css/highcharts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /* svg products */
  .svg-custom {
    mask: url("/shape-avatar.svg") center center / contain no-repeat;
  }

  /* custom theme highcharts */
  .highcharts-figure {
    max-width: 800px;
    min-width: 360px;
    margin: 0 auto;
  }
  .highcharts-background {
    transition: all 50ms;
  }
  .highcharts-description {
    margin: 1rem 0;
  }
  text.highcharts-title {
    @apply font-Lilita;
  }

  .highcharts-light {
    /* Colors for data series and points */
    --highcharts-color-0: #3e53cd;
    --highcharts-color-1: #c4688c;
    --highcharts-color-2: #78a8d1;
    --highcharts-color-3: #7991d2;
    --highcharts-color-4: #7d7bd4;
    --highcharts-color-5: #977dd5;
    --highcharts-color-6: #b3597c;
    --highcharts-color-7: #b27fd6;
    /* UI colors */
    --highcharts-background-color: rgb(203, 213, 225);

    --highcharts-neutral-color-100: rgb(147, 33, 33);
    --highcharts-neutral-color-80: rgb(78, 24, 24);
    --highcharts-neutral-color-60: rgb(52, 27, 214);
    --highcharts-neutral-color-40: rgb(133, 133, 133);
    --highcharts-neutral-color-20: rgb(92, 92, 92);
    --highcharts-neutral-color-10: rgb(146, 168, 226);
    --highcharts-neutral-color-5: rgb(139, 197, 40);
    --highcharts-neutral-color-3: rgb(86, 165, 21);
    /* Highlight color variations */
    --highcharts-highlight-color-100: rgb(122, 167, 255);
    --highcharts-highlight-color-80: rgb(108, 144, 214);
    --highcharts-highlight-color-60: rgb(94, 121, 173);
    --highcharts-highlight-color-20: rgb(72, 92, 65);
    --highcharts-highlight-color-10: rgb(160, 222, 61);
  }

  .highcharts-dark {
    /* Colors for data series and points */
    --highcharts-color-0: #1665d3;
    --highcharts-color-1: #c4688c;
    --highcharts-color-2: #78a8d1;
    --highcharts-color-3: #7991d2;
    --highcharts-color-4: #7d7bd4;
    --highcharts-color-5: #977dd5;
    --highcharts-color-6: #b3597c;
    --highcharts-color-7: #b27fd6;
    /* UI colors */
    --highcharts-background-color: rgb(23, 37, 84);
    /* Neutral color variations */
    --highcharts-neutral-color-100: rgb(255, 255, 255);
    --highcharts-neutral-color-80: rgb(214, 214, 214);
    --highcharts-neutral-color-60: rgb(173, 173, 173);
    --highcharts-neutral-color-40: rgb(133, 133, 133);
    --highcharts-neutral-color-20: rgb(92, 92, 92);
    --highcharts-neutral-color-10: rgb(109, 129, 216);
    --highcharts-neutral-color-5: rgb(95, 129, 215);
    --highcharts-neutral-color-3: rgb(57, 57, 57);
    /* Highlight color variations */
    --highcharts-highlight-color-100: rgb(122, 167, 255);
    --highcharts-highlight-color-80: rgb(108, 144, 214);
    --highcharts-highlight-color-60: rgb(94, 121, 173);
    --highcharts-highlight-color-20: rgb(0, 85, 255);
    --highcharts-highlight-color-10: rgb(104, 132, 179);
  }
}

@layer components {
  .background {
    @apply bg-[#e2e8f0] dark:bg-[#0f172a];
  }

  .background-on {
    @apply bg-[#e2e8f0] dark:bg-[#47557f];
  }

  .surface {
    @apply bg-[#f1f5f9]  text-[#47557f]  dark:bg-[#141e33];
  }

  .surface-on {
    @apply bg-[#475580] dark:bg-[#94a3b8];
  }

  .primary {
    @apply bg-[#684a5c] dark:bg-[#5b21b6];
  }

  .Primary-on {
    @apply bg-[#b6d529] dark:bg-[#eeecfc];
  }

  .secondary {
    @apply bg-[#5b21b6] dark:bg-[#5b21b6];
  }

  .secondary-on {
    @apply bg-[#eeecfc] dark:bg-[#eeecfc];
  }
}

/* darkMode Table ant Design */
.ant-table-row:hover .ant-table-cell-row-hover {
  @apply dark:!bg-slate-800;
}

.ant-table-thead .ant-table-cell,
.ant-table-row {
  @apply dark:bg-slate-700 dark:text-white;
}

ant-table-cell,
.ant-table-row {
  @apply dark:bg-slate-600 dark:text-white;
}
